<div id="contenedor">
<div class="imagen">
    <img src="images/conectado.png" alt="conectado">
</div>
<div class="texto">
    <h1>Estamos en contacto</h1>
</div>
<div class="parrafos">
    <p>El sistema de mensajería de Kinnectric reemplaza mensajes de texto, llamadas y mensajes de voz.</p>
    <p>Nuestros foros integrados cambiaran la forma de manejar los intereses y discuciones de grupos.</p>
</div>
</div>
<style>

{
    #contenedor{
        display: flex;
        align-items: center;
        height: 70vh;
        padding: 0 3rem;
        flex-direction: column;
    }

    .texto{
        text-align: center;
        color: rgba(147,64,255,255);
        max-width: 55%;
        font-size: 1.2rem;
        margin-top: 3rem;
    }

    .imagen{
        text-align: center;

    }  .imagen img{
        border-radius: 1rem;
        width: 80%;

        box-shadow: -20px 20px 45px 1px violet;
    }
   
    .parrafos{
        text-align: center;
        color: white;
        max-width: 50%;
        font-size: 1rem;
    }
}
</style>