<div id="contenedor">
<div class="imagen">
    <img src="images/conectado.png" alt="conectado">
</div>
<div class="parrafos">
    <h1> 
        <span class="titulo">Estamos en contacto</span>
    </h1>
    <p>El sistema de mensajería de Kinnectric reemplaza mensajes de texto, llamadas y mensajes de voz.</p>
    <p>Nuestros foros integrados cambiaran la forma de manejar los intereses y discuciones de grupos.</p>
</div>
</div>

<style>
    #contenedor {
        display: flex;
        height: 70vh;
        padding: 0 3rem;
        flex-direction: row;
    }

    .titulo{
        text-align: center; 
        color: rgba(147,64,255,255);
        max-width: 55%;
        font-size: 2rem;
        margin-top: 3rem;
        flex-direction: column;
    }

    .imagen{
        text-align: center;

    }  .imagen img{
        border-radius: 1rem;
        width: 80%;

        box-shadow: -20px 20px 45px 1px violet;
    }
   
    .parrafos{
        color: white;
        max-width: 100%;
        font-size: 1rem;
        flex-direction: column;
        width: 50rem;
    }
}
</style>