<div id="contenedor">
    <div class="parrafos">
        <h1> 
            <span class="titulo">Construye tu base social</span>
        </h1>
        <p>Kinnetric te presenta ideas y espacios que te pueden interesar.</p>
        <p>Puedes utilizar estos espacios para conocer a nuevas personas, relacionarte y crear conexiones.</p>
        </div>
    <div class="imagen">
        <img src="images/comunidad.png" alt="conectado">
        </div>
    
</div>
<style>
#contenedor {
    display: flex;
    height: 70vh;
    padding: 0 3rem;
    flex-direction: row;
    margin-top: 5rem;
    gap: 5rem;
}

 .parrafos{ 
    color: white;
    max-width: 100%;
    font-size: 1rem;
    flex-direction: column;
    height: 1rem;
    text-align: left;
}
 .titulo{
    color: rgba(147,64,255,255);
    max-width: 55%;
    font-size: 3rem;
    margin-top: 3rem;
    flex-direction: column;
}
 .imagen{
    text-align: center;
}
 .imagen img{
    border-radius: 1rem;
    width: 80%;
    box-shadow: -20px 20px 45px 1px violet;
}
</style>