<div id="contenedor">
<div class="texto">
    <h1>Kinnectric es una empresa emergente que busca cambiar la forma de conectar a las personas.</h1>

</div>
    <div class="parrafos">
        <p>Nuestra aplicacion móvil esta diseñada para buscar, forjar y hacer crecer vinculos entre tú,
            las personas que conoces, y las personas que quieres conocer. Con múltiples empresasa emergentes,
            el equipo que está detrás de Kinnetric está trabajando duro para traerte la única aplicacion social que necesitarás
        </p>
    </div>

</div>

<style>
    #contenedor{
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 70vh;
        padding: 0 3rem;
        flex-direction: column;
    }

    .texto{
        text-align: center;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        color: rgba(147,64,255,255);
        max-width: 55%;
        font-size: 1.2rem;
    }

    .parrafos{
        text-align: center;
        color: white;
        max-width: 50%;
        font-size: 1rem;
        flex-direction: column;
    }
</style>