
<div class="contenedor">
    <div class="principal">    
       <h1>Conecta con amigos</h1>  
      <div class="parrafos">
       <p>Utiliza Kinnectric para conectar con personas que conoces.</p> <br>
       <p> Kinnectric también puede conectarte con personas que no están en tu círculo habitual.</p>
      </div>
    </div>
      
      <div class="imagen">
        <img src="images/conecta.webp" alt="conecta">
      </div>
</div>


<style>
    #title img{
        margin: 2rem 2rem 0rem 2rem;
    }

    .contenedor{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        height: 70vh;
        padding: 0 3rem;
    }

    .principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        color: rgba(147,64,255,255);
        max-width: 30%;
        font-size: 1.8rem;
    }.parrafos
    {
        text-align: left;
        color: white;
        max-width: 80%;
        font-size: 1rem;
        flex-direction: column;
        width: 50rem;
    }

    .imagen{
        text-align: center;

    }  .imagen img{
        border-radius: 1rem;
        width: 80%;

        box-shadow: -20px 20px 45px 1px violet;
    }
</style>